<ion-content padding>
  <h1>Welcome</h1>

  <p>To get started, choose a password.</p>

  <p>This password will be used to encrypt and decrypt your journal entries.</p>

  <p class="bold">PLEASE NOTE:</p>
  <p>If you forget your password, your journal entries will be permanently lost.</p>

  <form class="list" [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password-confirmation" placeholder="Re-type Password"></ion-input>
    </ion-item>
    <button type="submit" ion-button secondary block>Set Password</button>
  </form>
</ion-content>
