<ion-content class="no-scroll">

  <form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
    <div class="key-container">
      <button type="submit" [@buttonShake]=buttonState (@buttonShake.done)="shakeDone()" ion-button icon-only>
        <ion-icon id="key-icon" name="key"></ion-icon>
      </button>
    </div>

    <div class="password-container">
      <ion-item>
        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
      </ion-item>
    </div>
  </form>

</ion-content>
