page-authenticate {
  ion-content {
    // background-color: #411641 !important;
  }

  .icon-container {
    width: 100%;
    margin-top: 50px;
  }

  #lock-icon {
    display: block;
    margin: 0 auto;
    width: 35%;
    text-align: center;
    font-size: 144px;
    color: white;
  }

  .no-scroll .scroll-content{
     overflow: hidden;
  }

  .password-container .text-input {
    text-align: center;
    padding-right: 0;
  }

  .key-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .button[icon-only] {
    display: block;
    margin: 0 auto;
    width: 144px;
    height: 144px;
    font-size: 60px;
    text-align: center;
    padding: 0;
    // background-color: #C6D8D3;
    // color: #651010;
    //font-size: 48px;
    // color: white;
  }

  .item-ios {
    padding-left: 0;
  }
  
  .item-ios.item-block .item-inner {
    padding-right: 0;
  }
}
