<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Entry</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="entryForm" (ngSubmit)="submitEntry()">
    <div class="textarea-container">
      <ion-textarea formControlName="text" rows="10" placeholder="How are you feeling?">
      </ion-textarea>
    </div>

    <ion-item>
      <ion-label>Date/Time</ion-label>
      <ion-datetime formControlName="dateTime" displayFormat="MM/DD/YYYY hh:mm A"></ion-datetime>
    </ion-item>

    <div class="button-container">
      <button type="submit" ion-button secondary block>Save</button>
    </div>
  </form>
</ion-content>
